* {
  font-family: 'Poppins', sans-serif;
}

.custom-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.owl-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.owl-nav button {
  background: #0d6efd !important;
  width: 30px;
  height: 30px;
  border-radius: 2px !important;
  color: white !important;
  margin: 10px;
}
